/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Section Styles */
  
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    margin-top: 0;
  }
  
  /* Intro Section Styles */
  
  #intro {
    background-color: #f7f7f7;
    padding: 30px;
  }
  
  #intro h2 {
    color: #333;
  }
  
  /* Materials and Methods Section Styles */
  
  #materiais-e-metodos {
    padding: 20px;
  }
  
  #materiais-e-metodos ul {
    columns: 2;
    column-gap: 20px;
  }
  
  #materiais-e-metodos li {
    margin-bottom: 10px;
  }
  
  /* Objective Section Styles */
  
  #objetivo {
    padding: 20px;
  }
  
  /* Results and Discussion Section Styles */
  
  #resultados-e-discussao {
    padding: 20px;
  }
  
  /* Authors Section Styles */
  
  #autores {
    padding: 20px;
  }
  
  #autores p {
    margin-bottom: 10px;
  }
  
  /* Acknowledgments Section Styles */
  
  #agradecimentos {
    padding: 20px;
  }
  
  #agradecimentos p {
    margin-bottom: 10px;
  }
  
  /* References Section Styles */
  
  #referencias-bibliograficas {
    padding: 20px;
  }
  
  #referencias-bibliograficas ul {
    columns: 2;
    column-gap: 20px;
  }
  
  #referencias-bibliograficas li {
    margin-bottom: 10px;
  }
  p{
    word-wrap: break-word;
  }
  .button{
    padding-bottom: 20px;
  }
  